.master {
  margin-top: 20%;
  display: block;
  justify-content: center;
}

.master-form {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  margin-left: 44%;
  justify-content: center;
  text-align: left;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 27px;
  color: #484848;
}

.button-send {
}

.input-form {
  width: 275px;
  height: 45px;
  border-radius: 28.5px;
}
