.welcome {
  background-image: url("../IMG/welcome.png");
  width: 49.938rem;
  height: 33.375rem;
  margin: 0 auto;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
